{% extends "base.html" %}

{% block change-password  %}
{% load staticfiles %}
<!-- Please implement the select hostel and the other hostel fields -->
<div class="col-md-3">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
          <div class="well">
                          <form id="loginForm" method="POST" action="/login/change-password/" novalidate="novalidate">{% csrf_token %}
                              <div class="form-group">
                                  <label for="password" class="control-label">Previous Password</label>
                                  <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your old password">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">New Password</label>
                                  <input type="password" class="form-control" id="password" name="password1" value="" required="" title="Please enter your new password">
                                  <span class="help-block"></span>
                              </div>
                            <div class="form-group">
                                  <label for="password" class="control-label">Confirm new Password</label>
                                  <input type="password" class="form-control" id="password" name="password2" value="" required="" title="Confirm your new password">
                                  <span class="help-block"></span>
                              </div>
                              <input type="hidden" name="next" id="next" value="{{ response.path }}" />
                              <button type="submit" class="btn btn-success btn-block">Change Password</button>
                          </form>
        </div>
</div>
{% endblock %}