<div class="row">
        {% if not request.user.is_authenticated %}
          
          <div class="well">
                          <form id="loginForm" method="POST" action="/login/auth/" novalidate="novalidate">{% csrf_token %}
                              <div class="form-group">
                                  <label for="username" class="control-label">Username</label>
                                  <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="example@gmail.com">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Password</label>
                                  <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">
                                  <span class="help-block"></span>
                              </div>

                              <!-- displayed if the username/password combo is wrong -->
                              <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>



                              <div class="checkbox">


                                  <label>
                                      <input type="checkbox" name="remember" id="remember"> Remember login
                                  </label>
                                  
                              </div>
                              <input type="hidden" name="next" id="next" value="{{ response.path }}" />
                              <button type="submit" class="btn btn-success btn-block">Login</button>
                              <a href="#" class="btn btn-default btn-block">Forgot Password</a>
                          </form>
                      </div>
        {% endif %}
                      </div>

        {% if request.user.is_authenticated %}
          <div class="row">
            <div class="well">
                            <p>Welcome {{ request.user.username }}<br>
                            <a href="/edit-profile/">Improve your Profile</a>
                            </p>
                              <a href='/login/logout/' class="btn btn-default btn-block" >Logout</a>
                              
                          </form>
                      </div>
                     </div>
                {% endif %}