<!-- Please implement the select hostel and the other hostel fields -->
<div>
{% if not request.user.is_authenticated %}
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<div id="right_top_login">
  <div class="right_header_login">
    Alumni Login
  </div>
  <div id="right_content_top" style="height:inherit">
    <div class="loginmodal-container">
        <form id="loginForm" method="POST" action="/login/auth/" novalidate="novalidate">{% csrf_token %}
        <input type="text" id="username" name="username" placeholder="Username" required="">
        <input type="password" id="password" name="password" placeholder="Password" required="">
        <input type="submit" name="login" class="login loginmodal-submit" value="Login" style="background-color: white;color: #284370;">
        <input type="hidden" name="next" id="next" value="{{ next }}" />
        </form>
        <div class="login-help">
        <a href="#">Forgot Password</a>
        </div>
    </div>
  </div>
</div>

{% endif %}
</div>

{% if request.user.is_authenticated %}
  <div id="right_top_login">
      <div class="right_header_login">
        Welcome {{request.user.username | title}}
      </div>
      <div id="right_content_top" style="height:inherit">
        <div class="loginmodal-container">
          <a href="/edit-profile/" style="color:rgb(130, 157, 212);">
            Update Profile
          </a>
          <br>
          <br>
          <form action="/login/logout">
          <input type="submit" name="login" class="login loginmodal-submit" value="Log Out" style="background-color: white;color: #284370;">
          </form>
        </div>
      </div>
    </div>

{% endif %}

