<div class="row">
<div class="well">
                          <form id="questionForm" method="POST" action="#" novalidate="novalidate">
                              <div class="form-group">
                                  <label for="question" class="control-label">Where did you work?</label>
                                  <input type="text" class="form-control" id="sidebar-answer" name="sidebar-answer" value="" required="" >
                                 
                              </div>
                            

                              <button type="submit" class="btn btn-default btn-block">Submit</button>
                              
                          </form>
                      </div>
</div>