<div class="row">
	<div class="well">
		<div id = "rolling-news">
			<ul class="roll-ul">
			    <li>
				    <div clas="row">
				    	<div class="roll-image col-md-3"><img src="https://pbs.twimg.com/profile_images/1757249278/iitg_web_mid_bigger.gif" height="50"></div>
				    	<div class="col-md-9 roll-title-cont">
					    	<div class="roll-title">IS ALL NEWS BETTER IN CAPS?!</div>
					    	<div class="roll-author">Yash Belhe</div>
				    	</div>
				    </div>
				    <div clas="row">
			    	<div class="roll-body">Well, it got my immediate attention quis nostrud exercitation ullamco laboris nisi ut
			    	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</div>
			    	</div>

			    </li>
			    <li>
				    <div clas="row">
				    	<div class="roll-image col-md-3"><img src="https://pbs.twimg.com/profile_images/1757249278/iitg_web_mid_bigger.gif" height="50"></div>
				    	<div class="col-md-9 roll-title-cont">
					    	<div class="roll-title">I'm not really sure, but it sure is a possibility!</div>
					    	<div class="roll-author">Some other guy</div>
				    	</div>
				    </div>
				    <div clas="row">
			    	<div class="roll-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			    	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</div>
			    	</div>

			    </li>
			    <li>
				    <div clas="row">
				    	<div class="roll-image col-md-3"><img src="https://pbs.twimg.com/profile_images/1757249278/iitg_web_mid_bigger.gif" height="50"></div>
				    	<div class="col-md-9 roll-title-cont">
					    	<div class="roll-title">MAYBE IT IS, MAYBE IT ISN'T!</div>
					    	<div class="roll-author">Some other other guy</div>
				    	</div>
				    </div>
				    <div clas="row">
			    	<div class="roll-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			    	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</div>
			    	</div>

			    </li>
			</ul>
		</div>
	</div>
</div>