<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href='{% static "css/login-page.css" %}'>
</head>
<body>
	<div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form method="POST" action="/auth.html" novalidate="novalidate">{% csrf_token %}
					<input type="text" name="username" id="username" placeholder="Username">
					<input type="password" name="password" id="password" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
					<input type="hidden" name="next" id="next" value="{{ next }}" />
				  </form>
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>

</body>
</html>