.carousel {
  width: 96%;
  margin-left: 6px;
  margin-bottom: 15px;
}
.carousel-caption {
      background-color:black;
      opacity: 0.55;
      width:100%;
      padding:0px 10px;
      margin-left: -20%;
    }
.carousel-caption h3 {
	margin-top:10px;
	margin-bottom:10px;
}