header .header-basic {
	background-color: #9a1c1f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 5px 0px;
	height:120px;
	box-sizing: border-box;
}

header a {
	color: #333333;
}

header .header-left {
	margin: auto 0 auto 0;
}
header .header-left ul{
	list-style: none;
	float: right;
	margin: auto;
}

header .header-left h2{
	text-align: left;
	margin: auto;
}

header .header-left h6{
	text-align: left;
	margin: auto;
	font-weight: 700;
	font-size: 12px;
	font-family: 'Nimbus Sans L';
}

header .header-limiter {
	text-align: center;
	margin: 0 auto;
}


/* The header links */

header .header-limiter a {
	color: #f4f2ea;
	text-decoration: none;
}

header .header-limiter nav{
	font:10px Arial, Helvetica, sans-serif;
	height: 29px;
	float: left;
	min-width: 650px;
}

header .header-limiter nav a{
	display: inline-block;
	padding: 0px 5px;
	text-decoration:none;
	color: #000000;
	font-size: 16px;
	opacity: 0.9;
	float:left;
	text-align:left;
	/*border-right:  1px solid  #5a1112;*/
	padding: 5px 50px 2px 0px;
	font-family: 'Roboto', serif;
	border-bottom:3px solid #f4f2ea ;
}
header .clear-nav-li{
	padding:0px 25px;
}
header .header-limiter nav{
	width:100%;
	background-color:#f4f2ea;
	/*border: 1px solid  #5a1112;
	border-radius:4px;*/
	padding-left: 0px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	
}

header .header-limiter nav a:hover{
	opacity: 1;
	border-bottom:3px solid #400000 ;
}
header .header-limiter nav .last-header-item{
	border-right:0px;
}

header .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

header .header-title h1 a{
	color: #f4f2ea; 
	font-family: 'Roboto', serif;
	padding:0px 0px 0px 0px;
	text-decoration:none;
}

header .header-limiter .filler {
		width:100%;
}

#right_header{
  top:0px;
  float: right;
  height:100px;
  width:250px;
  background-color:#d1b628;
}
#right_header img{
  /*position:relative;*/
  /*top:25px;*/
  /*left:20px;*/
  float: left;
  height:43px;
  width:43px;
  margin-right: 20px;
}
#right_header h4{
	text-align: left;
	color: white;
    font-size: 20px;
  /*position: relative;*/
  /*top:16px;*/
  /*left:35px;  */
}
/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
	min-width: 400px;
}

.fa-bars::before {
    content: "\f0c9";
}

i {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
}