.navbar {
	background: #AA1F24;
}

.navbar-brand {
	line-height: 90px;
    height: 90px;
    padding-top: 0;
}

.navbar-nav li a {
    line-height: 90px;
    height: 90px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff!important;
    font-size: 15px;
}

.navbar-login > ul > li > a {
    margin-top: 33px !important;
    margin-right: 10px;
	color: #fff!important;
	font-family: Arial, Helvetica, sans-serif;
    color: #fff!important;
    font-size: 15px;
}

.navbar-toggle {
	margin-top: 40px;
	border-color: #711C1F!important;
}

.navbar-toggle:hover {
	background-color: #AC1E1F!important;
}

.navbar-toggle .icon-bar {
	background-color: #711C1F!important;
}

.dropdown-toggle:hover, .open .dropdown-toggle {
	background-color: #AC1E1F!important;
}

.dropdown-menu {
    min-width: 350px;
    padding: 40px;
}

.dropdown-menu li a {
	color: #666!important;
}

.navbar-nav li a {
    line-height: 90px;
    height: 90px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff!important;
    font-size: 15px;
}

#navbar-brand-logo {
	display: inline;
	vertical-align: top;
}

#navbar-brand-name {
	font-size: 34px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	padding-left: 15px;
	display: inline;
	vertical-align: top;
}

#login-submit {
    background: #AA1F24;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.nav > li > a:focus {
    background-color: #AC1E1F;
}


/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
    margin:0;
    padding:0;
}
