<!DOCTYPE html>
<html>
<head>

	
	<!-- Title of page to be added dynamically -->	
	<title></title>
	{% load staticfiles %}
	<!-- CSS files to be added dynamically or load all -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}"> <!--  -->
	<link rel="stylesheet" href="{% static 'assets/css/main-body.css' %}"> <!--  -->
	<link rel="stylesheet" href="{% static 'assets/css/carousel.css' %}"> <!--  -->
	<link rel="stylesheet" href="{% static 'assets/css/activities.css' %}"> <!--  -->
	<link rel="stylesheet" href="{% static 'assets/css/communities.css' %}"> <!--  -->
	<link rel="stylesheet" href="{% static 'assets/css/footer.css' %}"> <!--  -->
	<link rel="stylesheet" href="{% static 'assets/css/header-basic.css' %}"> <!--  -->
	<link rel="stylesheet" href="{% static 'assets/css/news.css' %}"> <!--  -->
	<link rel="stylesheet" href="{% static 'assets/css/profile1.css' %}"> <!--  -->
	<link rel="stylesheet" href="{% static 'assets/css/search.css' %}"> <!--  -->
	<link rel="stylesheet" href="{% static 'assets/css/sidebar.css' %}"> <!--  -->
	


</head>
<body>
	<!-- Same header across all pages -->
	<header class="header-basic">
			<div class="header-title">
				<h1><a href="/">Alumni</a></h1>
			</div>
			<!-- Navigation bar -->
			<div class="header-limiter navbar">
				<div class="navbar-inner">
					<nav class='link-container'>
						<ul class="nav">
							<li><a href="/news">News</a></li>
							<li><a href="/activity/">Activities</a></li>
							<li><a href="#">Let's Join Hands</a></li>
							<li><a href="/community">Community</a></li>
							{% if request.user.is_authenticated and request.user.username != "admin" %}
							<li><a href="/profile" class="last-header-item">Profile</a></li> {% endif %}
						</ul>
					
						
					</nav>
				</div>
			</div>

	</header>
	

	<div class="container">
	      
	      <div class="row complete-container">
	      	  <!-- Main Content to be added dynamically -->
	          <!--  Main Content - add the block (complete contents of file) here -->
	          {% if page == "home" %}
	          	{% block home %}{% endblock %}
	          {% elif page == "activity" %}
	          	{% block activity %}{% endblock %}
	          {% elif page == "volunteer" %}
	          	{% block volunteer %}{% endblock %}
	          {% elif page == "community" %}
	          	{% block community %}{% endblock %}
	          {% elif page == "news" %}
	          	{% block news %}{% endblock %}
	          {% elif page == "profile" %}
	          	{% block profile %}{% endblock %}
              {% elif page == "edit-profile" %}
                {% block edit-profile %}{% endblock %}
	          {% elif page == "items" %}
	          	{% block items %}{% endblock %}
	          	<!-- EDITED -->
	          {% elif page == "add-activity" %}
	          	{% block add-activity %}{% endblock %}
	          {% elif page == "blog-details-edit" %}
	          	{% block blog-details-edit %}{% endblock %}
	          {% endif %}
        
         	  <!--  End Main Content-->

	          <!-- Widgets to be added dynamically to sidebar -->
	          <div class="col-md-3 sidebar" >
	          <!--  Widget - add the block (complete contents of file) here -->
              {% include "widgets/login.html" %}
              {% include "widgets/question.html" %}
              {% include "widgets/twitter.html" %}
			  <!--  End Widget-->
	     
	          </div>
	        </div>
	    </div>
	        <!-- Same footer across all pages -->


					<footer class="footer" style="background-color:#9a1c1f; border-top:1px">
					
						<div class="row"><br>
							
								<div class="col-md-3" style="">

								<div class="verticalLine">
									<p class="foot1">Contact</p>
										<br>
										<p style="color:#fff">Students' Gymkhana Council,<br>
										New SAC Building<br>
										IIT Guwahati,<br> Guwahati (Assam) - 781039<br>
										<br>
									
										<br>
									</p>
								</div>		
										
									
								
							</div>
							
							<div class="col-md-3"style="">
								<div class="verticalLine">
									<p  class="foot1">Quick Links</p>
										<br>
										<p style="color:#fff"><a href="" style="color:#fff">Webmail</a><br>
										xyz<br>
										xyz<br>
										<br>
									
										<br>
										</p>
								</div>		
							</div>
							<div class="col-md-3" style="">
					
									<p class="foot1">Social</p>
									<br>
									<p style="color:#fff">
										Facebook<br>
										Twitter<br>
										Google +<br>
										<br>
									
										<br>
									</p>
									
								
							</div>
						</div>
					<br>
				</footer>



	      
	
	

	<!-- Scripts -->
	
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	
</body>
</html>