<!doctype html>
<html>
<head>
<meta charset="utf-8">

	<!-- This meta viewport tag is required for our page to scale properly inside any screen size, particularly in the mobile viewport -->
	<meta name="viewport" content="width=device-width, maximum-scale=1">

	<!-- Title of page to be added dynamically -->	
	<title>{{page|title}}</title>
	{% load staticfiles %}
	
	<!--<link rel="icon" href="favicon.png" type="image/png">
	<link rel="shortcut icon" href="favicon.ico" type="img/x-icon">-->

	<!-- CSS files to be added dynamically or load all -->

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}"> <!--  -->
    <link rel="stylesheet" href="{% static 'assets/css/main-body.css' %}"> <!--  -->
    <link rel="stylesheet" href="{% static 'assets/css/carousel.css' %}"> <!--  -->
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}"> <!--  -->
    <link rel="stylesheet" href="{% static 'assets/css/header-basic.css' %}"> <!--  -->
    <link rel="stylesheet" href="{% static 'assets/css/comments.css' %}"> <!--  -->

    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css">
	<!-- <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" type="text/css"> -->

	<!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->

	<!-- JQuery Loaded first -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.vticker.min.js' %}"></script>

	<!-- <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script> -->
	<script type="text/javascript" src="{% static 'assets/js/jquery-scrolltofixed.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'assets/js/jquery.easing.1.3.js' %}"></script> -->
	<!-- <script type="text/javascript" src="{% static 'assets/js/jquery.isotope.js' %}"></script> -->
	<!-- <script type="text/javascript" src="{% static 'assets/js/wow.js' %}"></script> -->
	<!-- <script type="text/javascript" src="{% static 'assets/js/classie.js' %}"></script> -->
	
    <!-- <script src="{% static 'assets/contactform/contactform.js' %}"></script> -->

</head>
<body>
<div id="fb-root"></div>

<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!--header-start-->
<!--<header class="header" id="header">-->
<header>
    <div class="header-left">
        <img src="{% static 'assets/images/logo.png' %}" class="logo">
        <ul>
            <li><h2><a href="/">PLEXUS</a></h2></li>
            <li><h6><a href="http://www.iitg.ac.in"><b>Indian Institute of Technology Guwahati</b></a></h6></li>
            <li><h6><a href="#">Wish I were here again!</a></h6></li>
        </ul>
    </div>
    <div class="header-right">
        <a href="#">
            <div id="right_header">
              <img src="{% static 'assets/images/donation.jpg' %}">
              <h4>Make a<br><b>Gift</b></h4>
            </div>
        </a>
    </div>
</header>

<nav class="main-nav-outer scroll-to-fixed-fixed" id="topnav" style="z-index: 1000;">
    <!--<div class="container">-->
    <ul class="main-nav">
        <li><a href="/">Home</a></li>
    	<li><a href="/news/All">News</a></li>
    	<li><a href="/activity/">Activities</a></li>
    	<li><a href="/community">Community</a></li>
    	<li><a href="/news/Achievement">Medals & Honours</a></li>
    	<li><a href="/search">Search</a></li>
    	<li><a href="/profile">Profile</a></li>
    </ul>
    <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
<!--</div>-->
</nav>

<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Carousel indicators -->

        <!-- Wrapper for carousel items -->

        <div class="carousel-inner">
            <div class="item active">
               <img onclick="openModal(this)" class="carousel-inner" src="{% static 'assets/images/pic1.jpg' %}" alt="First Slide">
               <div class="carousel-caption">
                <h3></h3>
                <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
              </div>
            </div>
<!--             <div class="item">
               <img onclick="openModal(this)" class="carousel-inner" src="{% static 'assets/images/mid_pic.jpg' %}" alt="First Slide">
               <div class="carousel-caption">
                <h3></h3>
                <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
              </div>
            </div>
            <div class="item">
                <img onclick="openModal(this)" class="carousel-inner" src="{% static 'assets/images/pic2.jpg' %}" alt="Second Slide">
                <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
                <img onclick="openModal(this)" class="carousel-inner" src="{% static 'assets/images/slideshow3.jpg' %}" alt="Third Slide">
                <div class="carousel-caption">
              </div>
            </div> -->
            
        </div>

        <!-- Carousel controls  -->
        
        <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a> 

    </div> 
</div>
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
<script type="text/javascript">
    function openModal(image){
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
            modal.style.display = "block";
            modalImg.src = image.src;
            captionText.innerHTML = image.alt;
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
          modal.style.display = "none";
        }


    $(document).keypress(function(e) { 
        if (e.keyCode == 27) { 
            $("#myModal").fadeOut(500);
            //or
            window.close();
        } 
    });


    }
</script>         

	<div class="container">
	      <div class="row complete-container">
	      	  <!-- Main Content to be added dynamically -->
	          <!--  Main Content - add the block (complete contents of file) here -->
	          {% if page == "home" %}
	          	{% block home %}{% endblock %}
	          {% elif page == "login" %}
	          	{% block login %}{% endblock %}
	          {% elif page == "change-password" %}
	          	{% block change-password %}{% endblock %}
	          {% elif page == "activity" %}
	          	{% block activity %}{% endblock %}
	          {% elif page == "volunteer" %}
	          	{% block volunteer %}{% endblock %}
	          {% elif page == "community" %}
	          	{% block community %}{% endblock %}
	          {% elif page == "news" %}
	          	{% block news %}{% endblock %}
	          {% elif page == "profile" %}
	          	{% block profile %}{% endblock %}
              {% elif page == "edit-profile" %}
                {% block edit-profile %}{% endblock %}
	          {% elif page == "items" %}
	          	{% block items %}{% endblock %}
	          	<!-- EDITED -->
	          {% elif page == "add-activity" %}
	          	{% block add-activity %}{% endblock %}
	          {% elif page == "search" %}
	          	{% block search %}{% endblock %}
	          {% elif page == "blog-details-edit" %}
	          	{% block blog-details-edit %}{% endblock %}
	          {% elif page == "add" %}
	          	{% block add %}{% endblock %}
	          {% elif page == "detail" %}
	          	{% block detail %}{% endblock %}
	          {% elif page == "add-post" %}
	          	{% block add-post %}{% endblock %}
	          {% endif %}
        
         	  <!--  End Main Content-->

	          <!-- Widgets to be added dynamically to sidebar -->
	          {% if page != "search" and page != "change-password"%}
		          <div class="col-md-3 sidebar" style="padding-left: 0px; padding-right: 0px">
		          <!--  Widget - add the block (complete contents of file) here -->
	              {% include "widgets/login.html" %}
	              {% if page != "login" %}
	              	{% include "widgets/rolling-news.html" %}
	              	{% include "widgets/twitter.html" %}
				  <!--  End Widget-->
		          {% endif %}
	          	  </div>
	     	  {% endif %}
	        </div>
	</div>


<footer class="footer">

	<div class="container"><br>
		
			<div class="col-md-6" style="">

			<div class="verticalLine">
				<p class="foot1">Contact</p>
					<br>
					<p class="foot2"><b>Indian Institute of Technology Guwahati</b><br>
					Guwahati - 781039, India<br>
					Phone: +91-361-2583000<br>Fax: +91-361-2690762<br>
					<br>
				
					<br>
				</p>
			</div>		
					
				
			
		</div>
		
		<div class="col-md-3"style="">
			<div class="verticalLine">
				<p  class="foot1">Quick Links</p>
					<br>
					<p class="foot2">
                        <a href="https://webmail.iitg.ernet.in", class="foot2">Webmail</a>
                        <br>
                        <a href="http://www.iitg.ernet.in/aa/pages/campusmap/index.php?hq" , class="foot2">Campus Map</a>
                        <br>
					</p>
			</div>		
		</div>
		<div class="col-md-3" style="">

				<p class="foot1">Social</p>
				<br>
 				<p style="color:#fff" class="foot2">
					<div style="padding: 2px;"><div class="fb-like" data-href="https://www.facebook.com/iitgwt/?fref=ts" data-layout="button_count" data-colorscheme="dark"  data-action="like" data-size="large" data-show-faces="false"></div></div>
					<div style="padding: 2px;"><a href="https://twitter.com/_iitg" class="twitter-follow-button" data-size="large">Follow @_iitg</a></div><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div style="padding: 2px;"><div class="g-plusone"></div></div><br>
					<br>
				
					<br>
				</p>
									
			
		</div>
	</div>
<br>
</footer>

<!-- Scripts -->
<!-- rolling news -->

<script type="text/javascript">
    $(document).ready(function(e) {
        $('#topnav').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false    
            
        });        
    });
</script>

<script type="text/javascript">
	$(window).load(function(){
		
		$('.main-nav li a').bind('click',function(event){
			var $anchor = $(this);
			
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 102
			}, 1500,'easeInOutExpo');
			/*
			if you don't want to use the easing effects:
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1000);
			*/
			event.preventDefault();
		});
	})
</script>
	
	{% block scripts %}{% endblock %}

</body>
</html>
