{% extends "base.html" %}

{% block items  %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'assets/css/news.css' %}">

<div class="col-md-9 main-content" >
  <div class="news-container">
    <div class="news-header">
      <h4><b>Activity</b></h4>
      <p class="news-intro">
  Get the latest news on IITG and your fellow alums all in one place. Browse the alumni directory online, follow the latest IITG trends on social media.
      </p>
      <hr>
        <h5 class='news-type'>
          <b>{{item_type | upper}}</b>
          {% if add_right %}
            <a href="/activity/add/" class='column-addbutton'>(ADD)</a>
          {% endif %}
        </h5> 
    </div>
    {% block item_list %}{% endblock %}
  </div>
</div>
         
{% endblock %}
