{% extends "base.html" %}
{% block add %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'assets/css/forms.css' %}">
{% load crispy_forms_tags %}
<div class="col-md-9 main-content" >
    <div class="panel panel-default">
        <div class="form-panel-heading"> 
            {% if edit_right %}
                <h3>Edit {{class_type}}</h3>
            {% else %}
                <h3>Add {{class_type}}</h3>
            {% endif %}
        </div>
        <div class="panel-body">
            {% crispy form form.helper %}      
        </div>  
    </div>
</div>
{% endblock %}
