{% extends "base.html" %}

{% block items  %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'assets/css/communities.css' %}">
<div class="col-md-9 main-content" >
  <div class="news-container">  
    <h3 class="news-header">My Blog
      {% if is_editor %}
        <a href="/blog/{{ username }}/post/add" class='column-addbutton'>(add post)</a>
      {% endif %}
    </h3>
  {% for post in posts %}
  <div class="cards" >
    {% if post.image %}
    <div class="card_left">
          <img src="{{ post.image.url }}" width="150" height="150">
    </div>
    {% endif %} 
    <div class="card_middle" {% if post.image %} style="width: 80%" {% else %} style="width: 100%" {% endif %}>
          
          <div class="title_bar">
          <a href="/blog/{{ username }}/post/{{ post.id }}/">
            <h4 style="margin-top: 5px; margin-bottom: 5px;">
              {{post.heading}}
            </h4>
          </a>
            <h6 class="news-date" style="text-align: left;">
              {{post.timestamp}}
            </h6>
        </div>
          {% autoescape off %} {{ post.content|linebreaks }} {% endautoescape %}
    </div>
  </div>
 {% endfor %}
  </div>
</div>

{% endblock %}
