{% extends "base.html" %}

{% block community  %}
{% load staticfiles %}
        
          <div class="col-md-9 main-content" >
          <div class="news-container">
            <div class="row">
              <h3 class="news-main-title">Communities</h3>
              <p class="activities-intro">
          Itching to get out and do something? Stop scratching and start clicking! Take your pick of things to do and places to see on campus, where you live or in a fascinating land far, far away.
              </p>
            </div>
            
          
          <div class="row">
              <div class="col-md-6 col-left" >
                <h3 class='column-header'>Alumni to IITG</h3>
                <div class="row">
                  <div class="col-md-12 col-element" >
                    <img width="150" height="150" >
                    <h4><a></a></h4>
                    <p class="col-elem-data">
                        SAIL activities; project; lectures; project launches; 
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-element">
                    <a class='column-more' href="/news/research">Lets revive memories...</a>
                  </div>
                </div>


            </div>
              
            <div class="col-md-6 right" >
                <h3 class='column-header'>Classes, Clubs, Groups</h3>
                <div class="row">
                  <div class="col-md-12 col-element" >
                    <img {% if activity.image %} src="{{activity.image.url}}" {% endif %} alt="{{activity.activity_type}}" width="150" height="150" >

                    <h4><a>{{activity.name}}</a></h4>
                    <p class="col-elem-data">
                      {{activity.created}}<br>Coming Soon
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-element">
                    <a class='column-more' href="/activity/all">Coming Soon...</a>
                  </div>
                </div>


            </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-left" >
              <h3 class='column-header'>Make a donation</h3>
                <div class="row">
                  <div class="col-md-12 col-element" >
                    <img {% if volunteer.image %} src="{{volunteer.image.url}}" {% endif %} alt="{{volunteer.activity_type}}" width="150" height="150" >
                    <h4><a>{{volunteer.name}}</a></h4>
                    <p class="col-elem-data">
                      {{volunteer.created}}<br>Blah Blah Blah ...
                    </p>
                  </div>
                  <div class="row">
                  <div class="col-md-12 col-element">
                    <a class='column-more' href="/activity/all">Let's help each other...</a>
                  </div>
                </div>
                </div>
            </div>

            <div class="col-md-6 right" >
              <h3 class='column-header'>Community</h3>
                <div class="row">
                  <div class="col-md-12 col-element" >
                    <img {% if post.image %} src="{{post.image.url}}" {% endif %} alt="{{post.heading}}" width="150" height="150" >

                    <h4><a>{{post.heading}}</a></h4>
                    <p class="col-elem-data">
                      {{post.content|truncatechars_html:172}}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-element">
                    <a class='column-more' href="/activity/all">More about the community...</a>
                  </div>
                </div>
            </div>
          </div>
          













          <div class="row">
              <div class="col-md-12 col-left activities-container" >
              <h3 class='column-header activities-header'>Technical <a href="" class='column-addbutton'>(add)</a></h3>
                <div class="row activities-row">
                  <div class="col-md-6 col-element" >
                    <img src="{% static 'assets/images/image2.jpeg' %}">
                    <h4><a>Great Technical Event</a></h4>
                    <p class="col-elem-data">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                  <div class="col-md-6 col-element" >
                    <img src="{% static 'assets/images/image4.jpeg' %}">
                    <h4><a>Better Technical Event</a></h4>
                    <p class="col-elem-data">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                </div>
                <div class="row activities-row">
                  <div class="col-md-6 col-element" >
                    <img src="{% static 'assets/images/image2.jpeg' %}">
                    <h4><a>Another Better Technical Event</a></h4>
                    <p class="col-elem-data">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                  <div class="col-md-6 col-element" >
                    <img src="{% static 'assets/images/image1.jpeg' %}">
                    <h4><a>Best Tech Event</a></h4>
                    <p class="col-elem-data">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                </div>
            <div class="row activities-row">
                  <div class="col-md-12 col-element">
                    <a class='column-more' href="">More events...</a>
                  </div>
                </div>
            </div>
            <div class="col-md-6 col-right activities-container " >
              <h3 class='column-header activities-header'>Cultural <a href="" class='column-addbutton'>(add)</a></h3>
                <div class="row activities-row">
                  <div class="col-md-12 col-element" >
                    <img src="{% static 'assets/images/image3.jpeg' %}">
                    <h4><a>Epic Meet</a></h4>
                    <p class="col-elem-data">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                </div>
                <div class="row activities-row">
                  <div class="col-md-12 col-element" >
                    <img src="{% static 'assets/images/image6.jpeg' %}">
                    <h4><a>Awesome Meet</a></h4>
                    <p class="col-elem-data">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                </div>
                <div class="row activities-row">
                  <div class="col-md-12 col-element">
                    <a class='column-more' href="">More meets...</a>
                  </div>
                </div>
            </div>
            <div class="col-md-6 col-right activities-container " >
              <h3 class='column-header activities-header'>Sports <a href="" class='column-addbutton'>(add)</a></h3>
                <div class="row activities-row">
                  <div class="col-md-12 col-element" >
                    <img src="images/image3.jpeg">
                    <h4><a>Epic Meet</a></h4>
                    <p class="col-elem-data">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                </div>
                <div class="row activities-row">
                  <div class="col-md-12 col-element" >
                    <img src="images/image1.jpeg">
                    <h4><a>Awesome Meet</a></h4>
                    <p class="col-elem-data">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                </div>
                <div class="row activities-row">
                  <div class="col-md-12 col-element">
                    <a class='column-more' href="">More meets...</a>
                  </div>
                </div>
            </div>

          </div>
          </div>
          </div>
{% endblock %}

