{% extends "base.html" %}

{% block community  %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'assets/css/communities.css' %}">
<div class="col-md-9 main-content" >
<div class="news-container">
  <div class="news-header">
    <h4><b>Communities</b></h4>
    <p class="news-intro">
      Itching to get out and do something? Stop scratching and start clicking! Take your pick of things to do and places to see on campus, where you live or in a fascinating land far, far away.
    </p>
    <hr>
    <h5 class='news-type'>
      {% if add_right %}
        <a href="/community/add/" class='column-addbutton'>(ADD)</a>
      {% endif %}
    </h5> 

  </div>
          
{% for key, value in club_posts.iteritems %}
  <div class="sub-panel-heading panel-heading">
    <h4 class="panel-title">{{key}}</h4>
  </div>
  {% for post in value %}
    <div class="cards">
      {% if post.image %} 
      <div class="card_left">
        <img 
        src="{{post.image.url}}">
      </div>
      {% endif %}
      <div class="card_middle" {% if post.image %} style="width: 75%" {% else %} style="width: 95%" {% endif %}">
        <div class="title_bar">
          <h4>
            <a href="/community/{{ post.id }}/">{{post.heading}}</a>
          </h4>
          <h6><a href="/profile/{{post.member.user.username}}">{{post.member.name}}
          </a></h6>
        <div class="news-date">{{post.timestamp}}</div>
        </div>
            {% autoescape off %} 
            {{post.content | linebreaks}} 
            {% endautoescape %}
      </div>
      <div class="card_right">
        
      </div>
    </div>
  {% endfor %}
{% endfor %}

<div class="news-header" style="margin-top: 35px; margin-bottom: 10px;">
    <h4 class="panel-title">What are your friends upto!!!???</h4>
</div>
{% for blog in blog_posts %}
  <div>
    <div class="cards">
      <div class="card_middle" style="width: 100%">
        <div class="title_bar">
          {% if blog.blog.profile_picture %}
          <a href="/profile/{{blog.blog.profile.user.username}}">
            <div style="height: 100%; float: left;">
              <img style="max-height: 100%; max-width: 100%;" src="{{blog.blog.profile_picture.url}}">
            </div>
          </a>
          {% endif %}
          <a href="/profile/{{blog.blog.profile.user.username}}">
            <h4 style="margin-top: 5px; margin-bottom: 5px;">
              {{blog.blog.profile.name}}
            </h4>
          </a>
            <h6 class="news-date" style="text-align: left;">
              {{blog.timestamp}}
            </h6>
        </div>
        <p>{% autoescape off %} {{blog.content | linebreaks}} {% endautoescape %}</p>
      </div>
    </div>
  </div>
{% endfor %}

    </div>
  </div>
{% endblock %}

