	<footer class="footer" style="background-color:#9a1c1f; border-top:1px">
		
			<div class="row"><br>
				
					<div class="col-md-3" style="">

					<div class="verticalLine">
						<p class="foot1">Contact</p>
							<br>
							<p style="color:#fff">Students' Gymkhana Council,<br>
							New SAC Building<br>
							IIT Guwahati,<br> Guwahati (Assam) - 781039<br>
							<br>
						
							<br>
						</p>
					</div>		
							
						
					
				</div>
				
				<div class="col-md-3"style="">
					<div class="verticalLine">
						<p  class="foot1">Quick Links</p>
							<br>
							<p style="color:#fff"><a href="" style="color:#fff">Webmail</a><br>
							xyz<br>
							xyz<br>
							<br>
						
							<br>
							</p>
					</div>		
				</div>
				<div class="col-md-3" style="">
		
						<p class="foot1">Social</p>
						<br>
						<p style="color:#fff">
							Facebook<br>
							Twitter<br>
							Google +<br>
							<br>
						
							<br>
						</p>
						
					
				</div>
			</div>
		<br>
	</footer>
