<footer class="footer">

    <div class="container"><br>
        
            <div class="col-md-6" style="">

            <div class="verticalLine">
                <p class="foot1">Contact</p>
                    <br>
                    <p class="foot2"><b>Indian Institute of Technology Guwahati</b><br>
                    Guwahati - 781039, India<br>
                    Phone: +91-361-2583000<br>Fax: +91-361-2690762<br>
                    <br>
                
                    <br>
                </p>
            </div>      
                    
                
            
        </div>
        
        <div class="col-md-3"style="">
            <div class="verticalLine">
                <p  class="foot1">Quick Links</p>
                    <br>
                    <p class="foot2">
                        <a href="https://webmail.iitg.ernet.in", class="foot2">Webmail</a>
                        <br>
                        <a href="http://www.iitg.ernet.in/aa/pages/campusmap/index.php?hq" , class="foot2">Campus Map</a>
                        <br>
                    </p>
            </div>      
        </div>
        <div class="col-md-3" style="">

                <p class="foot1">Social</p>
                <br>
                <p style="color:#fff" class="foot2">
                    <div style="padding: 2px;"><div class="fb-like" data-href="https://www.facebook.com/iitgwt/?fref=ts" data-layout="button_count" data-colorscheme="dark"  data-action="like" data-size="large" data-show-faces="false"></div></div>
                    <div style="padding: 2px;"><a href="https://twitter.com/_iitg" class="twitter-follow-button" data-size="large">Follow @_iitg</a></div><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div style="padding: 2px;"><div class="g-plusone"></div></div><br>
                    <br>
                
                    <br>
                </p>
                                    
            
        </div>
    </div>
<br>
</footer>