{% load staticfiles %}
<header>
    <div class="header-left">
        <img src="{% static 'assets/images/logo.png' %}" class="logo">
        <ul>
            <li><h2><a href="/">PLEXUS</a></h2></li>
            <li><h6><a href="www.iitg.ac.in"><b>Indian Institute of Technology Guwahati</b></a></h6></li>
            <li><h6><a href="#">Wish I were here again!</a></h6></li>
        </ul>
    </div>
    <div class="header-right">
        <a href="#">
            <div id="right_header">
              <img src="{% static 'assets/images/donation.jpg' %}">
              <h4>Make a<br><b>Gift</b></h4>
            </div>
        </a>
    </div>
</header>

<nav class="main-nav-outer scroll-to-fixed-fixed" id="topnav" style="z-index: 1000;">
    <!--<div class="container">-->
    <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/news/All">News</a></li>
        <li><a href="/activity/">Activities</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="/news/Achievement">Medals & Honours</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
    <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
<!--</div>-->
</nav>