<link rel="stylesheet" href="css/header-basic.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
<link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Ubuntu:normal" rel="stylesheet" type="text/css">
<header class="header-basic">
			<div class="header-title">
				<h1>Alumni</h1>
			</div>
			<div class="header-limiter navbar">
				<div class="navbar-inner">
					<nav class='link-container'>
						<ul class="nav">
							<li><a href="#">News</a></li>
							<li><a href="#">Activities</a></li>
							<li><a href="#">Let's Join Hands</a></li>
							<li><a href="#">Community</a></li>
							<li><a href="#" class="last-header-item">Profile</a></li>
						</ul>
					
						
					</nav>
				</div>
			</div>

</header>

