{% extends "base.html" %}

{% block news-list  %}
{% load staticfiles %}
          <div class="col-md-9 main-content" >
            <div class="row">

            	<h3>News & Views</h3>
            	<p class="news-intro">
					Get the latest news on IITG and your fellow alums all in one place. Browse the alumni directory online, follow the latest IITG trends on social media.
            	</p>
            </div>
            <div class="row " >
              <div class="col-md-12 col-left news-container" >
                <h3 class='column-header news-header'>News <a href="" class='column-addbutton'>(add)</a></h3>
                
                <!-- This is a template news row -->
                <div class="row news-row">
                  <div class="col-md-12 col-element" >
                    <img src="{% static 'assets/images/image1.jpeg' %}">

                    <div class="teaser-container"><a class="news-topic-teaser" href="#">Research</a></div>
                    <h4><a>First News Item</a></h4>
                    <div class="news-date">29 September 2015</div>
                    <p class="col-elem-data">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    </p>
                  </div>
                </div>
                <!-- News row end -->


                <div class="row news-row">
                  <div class="col-md-12 col-element">
                    <img src="{% static 'assets/images/image3.jpeg' %}">
                    <div class="teaser-container"><a class="news-topic-teaser" href="#">Student</a></div>
                    <h4><a>Second News Item</a></h4>
                    <div class="news-date">13 January 2015</div>
                    <p class="col-elem-data">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                </div>

                <div class="row news-row">
                  <div class="col-md-12 col-element" >
                    <img src="{% static 'assets/images/image5.jpeg' %}">
                    <div class="teaser-container"><a class="news-topic-teaser" href="#">Alumni</a></div>
                    <h4><a>Third News Item</a></h4>
                    <div class="news-date">2 May 2015</div>
                    <p class="col-elem-data">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    </p>
                  </div>
                </div>





          </div>
         

          </div>

          </div>
         
{% endblock %}
