{% extends "base.html" %}

{% block items  %}
{% load staticfiles %}
          <div class="col-md-9 main-content" >
            <div class="row">

            	<h3>News & Views</h3>
            	<p class="news-intro">
					Get the latest news on IITG and your fellow alums all in one place. Browse the alumni directory online, follow the latest IITG trends on social media.
            	</p>
            </div>
            <div class="row " >
              <div class="col-md-12 col-left news-container" >
                <h3 class='column-header news-header'>{{item_type}} <a href="" class='column-addbutton'>(add)</a></h3>
                
                <!-- This is a template news row -->
                {% for item in items %}
                <div class="row news-row">
                  <div class="col-md-12 col-element" >
                    <img {% if item.image %} src="{{item.image.url}}" {% endif %} alt="{{item.post_type}}{{item.achievement_type}}" width="150" height="150" >

                    <div class="teaser-container">
                      <a class="news-topic-teaser" href="/{{class_type}}/{{item.get_post_type_display}}{{item.get_achievement_type_display}}">{{item.get_post_type_display}}{{item.get_achievement_type_display}}</a>
                    </div>
                    <h4><a>{{item.heading}}{{item.achievement}}</a></h4>
                    <div class="news-date">{{item.timestamp}}{{item.year}}</div>
                    <p class="col-elem-data">
                      {{item.content}}{{item.description}} 
                    </p>
                  </div>
                </div>
                {% endfor %}
                <!-- News row end -->

          </div>
         

          </div>

          </div>
         
{% endblock %}
