{% extends "base.html" %}

{% block profile  %}
{% load staticfiles %}
		<div class="col-md-9 main-content" >
			<div class="panel panel-default">
				<div class="panel-heading profile-panel-heading"> 
					<h3>My Profile</h3>
					<ul class="list-inline">
					  <li><a href="#">Edit</a></li>
					  <li>|</li>
					  <li><a href="#">View all profile data</a></li>
					  <li>|</li>
					  <li><a href="#">Privacy</a></li>
					  <li>|</li>
					  <li><a href="#">Change Password</a></li>
					  
					</ul>
					
				</div>
				<div class="panel-body">	
						  <ul class="nav nav-tabs profile-tabs">
						    <li class="active"><a data-toggle="tab" href="#tab-summary">Summary</a></li>
						    <li><a data-toggle="tab" href="#tab-personal">Personal</a></li>
						    <li><a data-toggle="tab" href="#tab-professional">Professional</a></li>
						    <li><a data-toggle="tab" href="#tab-education">Education</a></li>
						    <li><a data-toggle="tab" href="#tab-iitg">IITG</a></li>
						    <li><a data-toggle="tab" href="#tab-view-all">View All</a></li>
						  </ul>

						  <div class="tab-content">
						    <div id="tab-summary" class="tab-pane fade in active profile-summary">
						    	<div class="panel panel-default">
									<div class="panel-heading">  
										<div class="row summary-info-row">
											<div class="col-md-4 summary-img">
												<img src=" {% static 'assets/images/image1.jpeg' %}">
											</div>
											<div class="col-md-8">
												<h4 class="profile-summary-name">
													Mr. Yash Belhe
												</h4>
												<p>MS Computer Science, <br>
													Cupertino, CA. <br>
												</p>
											</div>
						      			</div>	
									</div>
									<div class="panel-body">
							      		<div class="bs-callout bs-callout-default">
											 <h4>Profile Summary</h4>
											 	<div class="row">
											 		<div class="col-md-4">
											 			Address :
											 		</div>
											 		<div class="col-md-8">
											 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
											 		</div>
											 	</div>
											 	<div class="row">
											 		<div class="col-md-4">
											 			Email :
											 		</div>
											 		<div class="col-md-8">
											 			<p>IITG : abcdef@iitg.ernet.in</p>
											 			<p>Other : abcdef@otheremail.com</p>
											 		</div>
											 	</div>
							      				
							      		</div>
							      		
									</div>
								</div>
								

						     










						    </div>
						    <div id="tab-personal" class="tab-pane fade profile-personal">
						     	<div class="panel panel-default">
									<div class="panel-heading">  
										<div class="row summary-info-row">
											<div class="col-md-4 summary-img">
												<img src="{% static 'assets/images/image1.jpeg' %}">
											</div>
											<div class="col-md-8">
												<h4 class="profile-summary-name">
													Mr. Yash Belhe
												</h4>
												<p>MS Computer Science, <br>
													Cupertino, CA. <br>
												</p>
											</div>
						      			</div>	
									</div>
									<div class="panel-body">
							      		<div class="bs-callout bs-callout-default">
											 <h4>Personal Profile</h4>
											 	<div class="row">
											 		<div class="col-md-4">
											 			Address :
											 		</div>
											 		<div class="col-md-8">
											 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
											 		</div>
											 	</div>
											 	<div class="row">
											 		<div class="col-md-4">
											 			Email :
											 		</div>
											 		<div class="col-md-8">
											 			<p>IITG : abcdef@iitg.ernet.in</p>
											 			<p>Other : abcdef@otheremail.com</p>
											 		</div>
											 	</div>
							      				
							      		</div>
							      		
									</div>
								</div>
								





						    </div>
						    <div id="tab-professional" class="tab-pane fade profile-professional">
						      <h3>Professional</h3>
						      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
						    </div>
						    <div  id="tab-education" class="tab-pane fade profile-education">
						      <h3>Education</h3>
						      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
						    </div>
						    <div  id="tab-iitg" class="tab-pane fade profile-IITG">
						      <h3>IITG</h3>
						      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
						    </div>
						    <div  id="tab-view-all" class="tab-pane fade profile-view-all">
						      <div class="panel panel-default">
									<div class="panel-heading">  
										<div class="row summary-info-row">
											<div class="col-md-4 summary-img">
												<img src="{% static 'assets/images/image1.jpeg' %}">
											</div>
											<div class="col-md-8">
												<h4 class="profile-summary-name">
													Mr. Yash Belhe
												</h4>
												<p>MS Computer Science, <br>
													Cupertino, CA. <br>
												</p>
											</div>
						      			</div>	
									</div>
									<div class="panel-body">
							      		<div class="bs-callout bs-callout-default">
											 <h4>Personal Profile</h4>
											 	<div class="row">
											 		<div class="col-md-4">
											 			Address :
											 		</div>
											 		<div class="col-md-8">
											 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
											 		</div>
											 	</div>
											 	<div class="row">
											 		<div class="col-md-4">
											 			Email :
											 		</div>
											 		<div class="col-md-8">
											 			<p>IITG : abcdef@iitg.ernet.in</p>
											 			<p>Other : abcdef@otheremail.com</p>
											 		</div>
											 	</div>
							      				
							      		</div>
							      		<div class="bs-callout bs-callout-default">
											 <h4>Stanford Degrees</h4>
											 	<div class="row">
											 		<div class="col-md-4">
											 			Address :
											 		</div>
											 		<div class="col-md-8">
											 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
											 		</div>
											 	</div>
											 	<div class="row">
											 		<div class="col-md-4">
											 			Email :
											 		</div>
											 		<div class="col-md-8">
											 			<p>IITG : abcdef@iitg.ernet.in</p>
											 			<p>Other : abcdef@otheremail.com</p>
											 		</div>
											 	</div>
							      				
							      		</div>
									</div>
								</div>
						    </div>
						  </div>	
				</div>	
			</div>
		</div>
{% endblock %}
		