<!-- Sumeet Bhaiya , you need to load the bottom three css files from staticfiles -->
{% extends "base.html" %}
{% block search %}
{% load staticfiles %} 

<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/profile1.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/search.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/jquery.dataTables.min.css' %}">
<div class="col-md-4 main-content" >
	<div class="panel panel-default">
		<div class="panel-heading profile-panel-heading"> 
			<h3>Advanced Search</h3>
		</div>
		<div class="panel-body">
			<form role="form" method="POST" action="/search/">
			{% csrf_token %}
      			<button class="btn-primary">Submit</button>
				<div class="bs-callout bs-callout-default">
					<h4>Personal Information</h4>
					<div class="row form-group">
					 	<div class="col-md-12">
					 		<div class="label-container">
						 		<label for="name">Name :</label>
							</div>
					 		<div class="form-element-container">
						 		<input type="text" class="form-control" name="name" id="name">
					 		</div>
						</div>
					</div>
					<div class="row form-group">
					 	<div class="col-md-12">
							<div class="form-radio-container col-md-12">
						 		<div class="row">
						 			<label class="control-label" for="radios">Gender : </label>
						 		</div>
							    <div class="row">
								    <label for="gender-m">
								      <input type="radio" name="gender" id="gender-m" value="m">
									      <label class="form-radio-option-label">Male</label>
								    </label>
								    <label for="gender-f">
								      <input type="radio" name="gender" id="gender-f" value="f">
								      <label class="form-radio-option-label">Female</label>
								    </label>
								</div>
							</div>
					 	</div>
					</div>
					
				</div>

			<div class="bs-callout bs-callout-default">
			    <h4>Academic Information</h4>
					<h5>IITG Degree :</h5>
	            <div class="row form-group">
					<div class="col-md-12">
				 		<div class="form-container">
					 		<label class="control-label" for="datalist-batch">Batch :</label>
						 		<input list="batch" name="batch" type="text" class="form-control" placeholder="Pass out year and Program">
						 		<datalist id="batch" size="10"> 
						 		{% for batch in batches %}
						 			<option value="{{batch.0}}">{{batch.1}}</option>
						 		{% endfor %}
						 		</datalist>
						 </div>
					</div>
					<div class="col-md-12">
						<div class="form-container">
					      <label for="select-major">Select Majors:</label>
						      <select class="form-control" id="select-major">
							        {% for major in majors %}
							        <option value="{{major.0}}">{{major.1}}</option>
							        {% endfor %}
						      </select>
						</div>
					</div>
				</div>
	
			    <div class="row form-group">
					<div class="col-md-12">
				 		<div class="form-radio-container col-md-12">
					 		<h5>Other Degree :</h5>
					 		
					      <!-- <div class="label-container"> -->
						 		<label for="class-year-from-other">From :</label>
						  <!-- </div> -->
					 		<input type="text" class="form-control" id="class-year-from-other">
				 	  
							<!--  <div class="label-container">
							   	<label class="form-radio-option-label">To :</label>
							</div>
							<div class="form-element-container"></div>
							  	<input type="text" class="form-control" id="class-year-to">
							</div> -->
						</div>
					</div>
					

				</div>

      		</div>
			</form>
	</div>
					      		
</div>
</div>
<div class="col-md-8">
	
	
	
	<table id="searchtable" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Gender</th>
				<th>Hostel</th>
				<th>City</th>
			</tr>
		</thead>
		<tbody>
		
			{% for profile in profiles%}
			<tr>
				<td>{{profile.name}}</td>
				<td>{{profile.age}}</td>
				<td>{{profile.gender}}</td>
				<td>{{profile.hostel}}</td>
				<td>{{profile.city}}</td>
			</tr>
			{% endfor %}
			
		</tbody>
	</table>
</div>
<script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript">
	$("#searchtable").DataTable();
</script>
{% endblock %}