<!-- Please implement the select hostel and the other hostel fields -->
{% extends "base.html" %}
{% block search %}
{% load staticfiles %} 

<link rel="stylesheet" href="{% static 'assets/css/forms.css' %}">
<script type="text/javascript" src="{% static 'assets/js/forms.js' %}"></script>
<div class="col-md-4 main-content" >
		<div class="form-panel-heading"> 
			<h3>Advanced Search</h3>
		</div>
		<div>
			<form role="form" method="POST" action="/search/" id="search">
			{% csrf_token %}
      			<input type="hidden" name="page" id="page" value="">
      			    <div id="accordion">
				        <div class="panel form-panel">
				            <div class="form-heading">
				                <h5 class="form-title">
				                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Personal Information</a>
				                </h5>
				            </div>
				            <div id="collapseOne" class="panel-collapse collapse in">
				                <div class="panel-body">
									<div class="col-md-12 form-group float-label-control">
									 		<label for="name">Name</label>
                        					<input type="text" value="{{request.POST.name}}" class="form-control" name="name" id="name" placeholder="Name">
									</div>
									<div class="col-md-12 form-group float-label-control">
									 		<label for="city">City</label>
									 		<input type="text" value="{{request.POST.city}}" class="form-control" name="city" id="city" placeholder="City">
									</div>
									<div class="col-md-12 form-group float-label-control">
									 		<label for="country">Country</label>
									 		<input type="text" value="{{request.POST.country}}" class="form-control" name="country" id="country" placeholder="Country">
									</div>
									<div class="col-md-12 form-group" >
											<!-- <div class="form-radio-container col-md-12"> -->
										 		<!-- <div class="row"> -->

										 			<label class="col-md-4" for="gender">Gender</label>
										 			<!-- <div class="form-element container col-md-8" id="wrapper_clear">    -->

												    <label for="gender-m"  class="col-md-4">
												      <input type="radio" name="gender" id="gender-m" value="m" {% if 'm' in request.POST.gender %} checked="checked" {% endif %}>
													      <label class="form-radio-option-label">Male</label>
												    </label>
												    <label for="gender-f"  class="col-md-4">
												      <input type="radio" name="gender" id="gender-f" value="f" {% if  'f' in request.POST.gender %} checked="checked" {% endif %}>
												      <label class="form-radio-option-label">Female</label>
												    </label>
												    <!-- </div> -->
												<!-- </div> -->
											<!-- </div> -->
									</div>
									<div class="col-md-12 form-group float-label-control">
								        <label for="select-hostel">Hostel</label>
								 		<input type="text" value="{{request.POST.hostel}}" class="form-control" list="select-hostel" name="hostel" id="hostel" placeholder="Hostel">
									</div>
									<!-- Datalist outside the div element so that float-label-control can work properly. -->
							        <datalist id="select-hostel" size="3">
								        {% for hostel in hostels %}
								        <option value="{{hostel.0}}">{{hostel.1}}</option>
								        {% endfor %}
							        </datalist>
									
				                </div>
				            </div>
				        </div>
				        <div class="panel form-panel">
				            <div class="form-heading">
				                <h4 class="form-title">
				                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Academic Information</a>
				                </h4>
				            </div>
				            <div id="collapseTwo" class="panel-collapse collapse">
				                <div class="panel-body">
				                	<h5><b>IITG Degree :</b></h5>
									<div class="col-md-12 row form-group float-label-control">
								 		<label for="batch">Batch :</label>
								 		<input type="text" value="{{request.POST.batch}}" class="form-control" list="select-batch" name="batch" id="batch" placeholder="Pass out year and Program">
									</div>
							 		<datalist id="select-batch" size="10"> 
							 		{% for batch in batches %}
							 			<option value="{{batch.0}}">{{batch.1}}</option>
							 		{% endfor %}
							 		</datalist>
									<div class="col-md-12 row form-group float-label-control">
									    <label for="select-major">Select Majors:</label>
										<input type="text" value="{{request.POST.department}}" class="form-control" list="select-depts" name="department" id="department" placeholder="Department/Major">

									</div>
							 		<datalist id="select-depts" size="10"> 
							 		{% for major in majors %}
							 			<option value="{{major.1}}"></option>
							 		{% endfor %}
							 		</datalist>
									<h5><b>Other Degree :</b></h5>
									<div class="col-md-12 row form-group float-label-control">
								 		<label for="datalist-batch">Institue Name :</label>
								 		<input type="text" value="{{request.POST.institute}}" class="form-control" name="institute" placeholder="Name of Institute">
									</div>
				                </div>
				            </div>
				        </div>
				        <div class="panel form-panel">
				            <div class="form-heading">
				                <h4 class="form-title">
				                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Professional Information</a>
				                </h4>
				            </div>
				            <div id="collapseThree" class="panel-collapse collapse">
				                <div class="panel-body">
				                	<h5><b>Current Job</b></h5>
									<div class="col-md-12 form-group float-label-control">
									 		<label for="name">Company :</label>
									 		<input type="text" value="{{request.POST.currentJob__company}}" class="form-control" name="currentJob__company" id="currentJob">
									</div>
				                	<h5><b>Past Jobs</b></h5>
									<div class="col-md-12 form-group float-label-control">
									 		<label for="name">Company :</label>
									 		<input type="text" value="{{request.POST.company}}" class="form-control" name="company" id="company">
									</div>

				                </div>
				            </div>
				        </div>
				    </div>
					<button class="form-btn btn" id="adv_search_button">Submit</button>
			
			</form>
		</div>
					      		
</div>
<div class="col-md-8" style="padding:0px;">
<div class="col-md-12" style="padding:0px;">
<div class="profile-tiles-container" id="results">
{% if profiles %}
	{% for item in profiles %}
		<div class="cards">
		    {% if item.image %}
		    <div class="card_left">
		      <img  src="{{item.image.url}}" >
		    </div>
		    {% endif %}
		  <div class="card_middle" {% if item.image %} style="width: 80%" {% else %} style="width: 100%" {% endif %}>
	      	<h4><a style="float: none" href="/profile/{{item.user.username}}">{{item.name}}</a></h4>
	        <div>Age : {{item.date_of_birth}}</div>
			<div>Gender : {{item.get_gender_display}}</div>
			<div>Hostel : {{item.hostel}}</div>
			<div>City : {{item.city}}</div>
		  </div>
		</div>

	{% endfor %}
	<div class="pagination">
		<span class="step-links">
		    {% if profiles.has_previous %}
		        <!-- <a href="?page={{ profiles.previous_page_number }}">previous</a> -->
		        <button href="" onclick="document.getElementById('page').value = {{profiles.previous_page_number}}; document.getElementById('search').submit()" >previous</button>
		    {% endif %}

		    <span class="current">
		        Page {{ profiles.number }} of {{ profiles.paginator.num_pages }}.
		    </span>

		    {% if profiles.has_next %}
		        <button href="" onclick="document.getElementById('page').value = {{profiles.next_page_number}};document.getElementById('search').submit()" >next</button>
		    {% endif %}
		</span>
	</div>

{% else %}

You can search and connect with your batchmates or find alumni studying in a particular institute or working in a specific company. 
<br>
Explore where are your hostelmates and classmates!
<br>
Happy Connecting! 
{% endif %}
</div>

</div>
</div>



{% endblock %}